{% extends 'dashboard_template/admin.html.twig' %}

{% block body %}
<div class="row mb-5">
    {% for product in products %}
        <div class="col-md-4 col-lg-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="{{asset('/uploads/' ~ product.coverPhoto)}}"/>
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">
                        {{product.description}}
                    </p>
                    <a href="{{ path('edit_product',{'id':product.id}) }}" class="btn btn-outline-primary">Suite</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}